body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

.sidebar {
  text-align: center;
  width: 10%;
  background-color: rgb(86, 84, 84);
  height: 100vh;
  position: fixed;
}

.imgg {
  width: 100%;
}

.img {
  background-color: white;
}

.side {
  padding: 2rem 0.3rem 0.3rem;
}

.side h5 {
  margin-top: 5px;
}

.side:hover {
  background-color: black;
}

.bod {
  left: 8rem;
  width: 90%;
  position: relative;
  padding: 2rem 6rem;
}

.banner {
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 3.5rem;
  margin-bottom: 0px;
}

.banner h3 {
  font-size: 1.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 0px;
}

.des {
  color: rgb(184, 182, 182);
  text-align: justify;
}

.desc_hr {
  width: 12%;
}

.skills {
  margin-top: 3rem;
}

.skills_title {
  font-size: 2rem;
}

.skill {
  color: rgb(184, 182, 182);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill p:hover {
  color: white;
  cursor: pointer;
}

.resume {
  margin-top: 3rem;
}

a button {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

button {
  border: none;
  padding: 1rem 1rem;
  font-size: large;
  margin: 1rem;
}

button:hover {
  background-color: gray;
  color: white;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 1rem;
}

.images img {
  width: 100%;
}

.img_button {
  text-align: center;
}

.work_hr {
  width: 12%;
  margin-top: 0px;
}

hr {
  margin-top: 0px;
}

.works h3 {
  text-align: center;
  font-size: 2rem;
}

.work {
  margin-bottom: 4rem;
  padding: 1rem 0px 0px;
}

.works {
  margin-top: 8rem;
}

.work_title {
  margin-bottom: 0px;
}

.contact_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.contact_title {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.contact_hr {
  width: 12%;
  margin-top: 0px;
}

.cont {
  display: flex;
  align-items: center;
}

.cont p {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: rgb(184, 182, 182);
}

.contact {
  margin-top: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 2rem;
  padding: 0.4rem;
  margin: 0.3rem;
}

.form textarea {
  padding: 0.4rem;
  margin: 0.3rem;
}

.footer img {
  width: 5rem;
}

.success {
  display: flex;
  background-color: gray;
  padding-left: 2rem;
}

.success p {
  width: 95%;
}

.footer a {
  color: gray;
  margin: 0.5rem;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.footer {
  margin: 5rem 0rem 0rem;
}

.footer_logo {
  background-color: rgb(111, 109, 109);
  width: fit-content;
  height: fit-content;
  border-radius: 3rem;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    text-align: center;
    width: 10%;
    background-color: rgb(86, 84, 84);
    height: 100%;
    position: initial;
    display: none;
  }

  .bod {
    left: 0rem;
    width: 100%;
    position: initial;
    padding: 2rem 1rem;
  }

  .banner_img {
    width: 100%;
  }

  .banner h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
  }

  .banner h3 {
    font-size: 1.2rem;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 1rem;
  }

  .skill {
    color: rgb(184, 182, 182);
    width: 20%;
  }

  .contact_body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
  }

  .desc_hr {
    width: 80%;
  }

  .work_hr {
    width: 35%;
    margin-top: 0px;
  }

  .contact_hr {
    width: 30%;
    margin-top: 0px;
  }
}
